.ad {
  width: 100%;
  height: 47.2vw;
  background: #373c64;
  box-sizing: border-box;
  padding: 6.4vw;
  display: flex;
}

.ad .adImg {
  width: 34.4vw;
  height: 34.13333vw;
  margin-right: 5.33333vw;
}

.ad .adImg img {
  width: 100%;
  height: 100%;
}

.ad .adArtical {
  box-sizing: border-box;
  padding-top: 4.53333vw;
}

.ad .adArtical p {
  color: #fff;
  font-weight: 600;
}

.ad .adArtical p:nth-child(1) {
  height: 4vw;
  margin-bottom: 6.66667vw;
}

.ad .adArtical p:nth-child(1) img {
  display: inline-block;
  width: 18.13333vw;
  height: 100%;
  margin-right: 2.13333vw;
}

.ad .adArtical p:nth-child(1) span {
  display: inline-block;
  font-size: 4vw;
  margin-left: 1.33333vw;
}

.ad .adArtical .con {
  height: 3.2vw;
  font-size: 3.2vw;
  margin-bottom: 2.66667vw;
}
