html, body {
  height: 100%;
}

.date {
  width: 100%;
}

.date .population {
  height: 10.66667vw;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  margin-bottom: 5.33333vw;
}

.date .population div {
  font-size: 4.26667vw;
  line-height: 10.66667vw;
}

.date .population div:nth-child(1) {
  font-weight: 700;
}

.date .population div:nth-child(2) input {
  width: 13.33333vw;
  text-align: center;
}

.date .buyNow {
  width: 100%;
  height: 13.33333vw;
  box-sizing: border-box;
  border-top: 0.8vw solid #dddddd;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 6;
}

.date .buyNow .advisory {
  width: 18.13333vw;
  height: 12.53333vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.date .buyNow .advisory p {
  height: 2.4vw;
  font-size: 2.4vw;
  font-weight: 600;
}

.date .buyNow .buy {
  width: 81.86667vw;
  height: 12.53333vw;
  background: #e96a65;
  font-size: 4.26667vw;
  line-height: 12.53333vw;
  text-align: center;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}
