@function vw($px) {
    @return ($px / 750) * 100vw;
}

html,body{
    height: 100%;
}

.date{
    width: 100%;
    .population{
        height: vw(80);
        display: flex;
        justify-content: space-between;
        padding: vw(30);
        margin-bottom: vw(40);
        div{
            font-size: vw(32);
            line-height: vw(80);

            &:nth-child(1){
                font-weight: 700;
            }

            &:nth-child(2){
                input{
                    width: vw(100);
                    // border: vw(1) solid #ccc;
                    text-align: center;
                }
            }
        }
    }
    .buyNow{
        width: 100%;
        height: vw(100);
        box-sizing: border-box;
        border-top: vw(6) solid #dddddd;
        display: flex;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 6;//等下改
        .advisory{
            width: vw(136);
            height: vw(94);
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            p{
                height: vw(18);
                font-size: vw(18);
                font-weight: 600;
            }
        }
        .buy{
            width: vw(614);
            height: vw(94);
            background: #e96a65;
            font-size: vw(32);
            line-height: vw(94);
            text-align: center;
            color: #fff;
            font-weight: 800;
            cursor: pointer;
        }
      }
}