html, body, #app, #root {
  height: 100%;
}

#destination {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#destination .dip {
  display: none;
}

#destination header {
  width: 100%;
  height: 43.06667vw;
  padding: 2.66667vw 6.4vw 8vw;
  box-sizing: border-box;
  position: relative;
}

#destination header h2 {
  font-weight: 600;
  font-size: 5.86667vw;
  line-height: 18.26667vw;
}

#destination header .ant-input-affix-wrapper {
  display: block;
  line-height: 13.6vw;
  width: 86.66667vw;
  height: 13.6vw;
}

#destination header .ant-input-affix-wrapper .ant-input-prefix {
  padding-left: 4.4vw;
  left: 0;
}

#destination header .ant-input-affix-wrapper .ant-input-prefix svg {
  width: 4vw;
  height: 10.66667vw;
}

#destination header .ant-input-affix-wrapper .ant-input {
  color: #adadad;
  font-size: 3.73333vw;
  outline-style: none;
  border-color: #ddd;
  padding-left: 9.6vw;
  box-shadow: none;
}

#destination header ul {
  position: absolute;
  bottom: -vw(62);
  border: 0.26667vw solid #ddd;
  border-top: none;
  background-color: #f5f5f5;
  width: 86.66667vw;
  z-index: 3;
  border-radius: 0 0 0.53333vw 0.53333vw;
}

#destination header ul li {
  height: 12vw;
  font-size: 3.2vw;
  line-height: 12vw;
  padding-left: 2.66667vw;
}

#destination .ant-divider {
  margin: 0;
  padding: 0;
  border-bottom: 0.26667vw solid #ededed;
}

#destination main {
  flex: 1;
  padding-bottom: 12vw;
  display: flex;
  overflow: hidden;
}

#destination main .nav {
  height: 100%;
  width: 32vw;
  background-color: #f5f5f5;
}

#destination main .nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.26667vw;
}

#destination main .nav li p {
  font-size: 3.73333vw;
  font-weight: 600;
  line-height: 6.93333vw;
  color: #666;
  border-bottom: 0.53333vw solid #f5f5f5;
}

#destination main .nav .action {
  background-color: #fff;
}

#destination main .nav .action p {
  color: #000;
  border-bottom: 0.53333vw solid #f56d7d;
}

#destination main .city {
  flex: 1;
  padding: 3.2vw 6.4vw 0;
  overflow: auto;
}

#destination main .city .top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#destination main .city .top .hots {
  width: 26.26667vw;
  height: 17.6vw;
  margin-bottom: 2.66667vw;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.53333vw;
}

#destination main .city .top .hots span {
  font-size: 4.26667vw;
  color: #fff;
}

#destination main .city .bottom .town {
  margin-top: 6vw;
}

#destination main .city .bottom .town h3 {
  font-size: 3.73333vw;
  line-height: 3.73333vw;
  font-weight: 600;
}

#destination main .city .bottom .town .citytown {
  display: flex;
  flex-wrap: wrap;
}

#destination main .city .bottom .town .citytown p {
  font-size: 3.46667vw;
  line-height: 3.46667vw;
  margin-right: 6.4vw;
  margin-top: 4vw;
}
