@charset "UTF-8";
#discover {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#discover main {
  flex: 1;
  padding-bottom: 12vw;
  overflow: auto;
  position: relative;
}

#discover main header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  height: 11.73333vw;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
}

#discover main header h1 {
  text-indent: -9999px;
  width: 17.86667vw;
  height: 4vw;
  background: url(../img/logo.png) no-repeat;
  background-size: 100% 100%;
}

#discover main header .ant-input-affix-wrapper {
  width: 60vw;
  height: 8vw;
  color: #fff;
}

#discover main header .ant-input-affix-wrapper .ant-input-prefix {
  left: 3.2vw;
}

#discover main header .ant-input-affix-wrapper i {
  font-size: 3.73333vw;
}

#discover main header .ant-input-affix-wrapper .ant-input {
  border: none;
  box-shadow: none;
  font-size: 3.73333vw;
  padding-left: 8vw;
  background: rgba(0, 0, 0, 0.1);
}

#discover main header .ant-input-affix-wrapper .ant-input::-webkit-input-placeholder {
  color: #fff;
}

#discover main::-webkit-scrollbar {
  display: none;
}

#discover main .banner {
  width: 100%;
  height: 50.13333vw;
}

#discover main .banner .ant-carousel, #discover main .banner .slick-slider, #discover main .banner .slick-list {
  width: 100%;
  height: 100%;
}

#discover main .banner .ant-carousel .slick-track, #discover main .banner .slick-slider .slick-track, #discover main .banner .slick-list .slick-track {
  width: 100%;
  height: 100%;
  background-color: #eee;
}

#discover main .banner .ant-carousel .slick-track img, #discover main .banner .slick-slider .slick-track img, #discover main .banner .slick-list .slick-track img {
  width: 100%;
  height: 100%;
}

#discover main .plan {
  padding: 0 5.33333vw;
  height: 80vw;
}

#discover main .plan h2 {
  padding: 9.06667vw 0 6.93333vw;
  font-size: 5.33333vw;
  line-height: 5.33333vw;
  font-weight: 600;
}

#discover main .plan .recommend {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#discover main .plan .recommend .recombag:nth-child(4) {
  width: 58.66667vw;
}

#discover main .plan .recommend .recombag:nth-child(4) img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#discover main .plan .recommend .recombag {
  width: 28vw;
  height: 24vw;
  margin-bottom: 2.66667vw;
  position: relative;
}

#discover main .plan .recommend .recombag img {
  position: absolute;
  left: 25%;
  top: 22%;
  width: 50%;
  height: 55%;
}

#discover main .plan .recommend .recombag .recommart {
  width: 100%;
  height: 100%;
  border-radius: 1.6vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 2.66667vw;
}

#discover main .plan .recommend .recombag .recommart .recomtitle {
  font-weight: 600;
  font-size: 3.73333vw;
  line-height: 3.73333vw;
  margin: 11.2vw 0 1.86667vw;
}

#discover main .plan .recommend .recombag .recommart .recomcontent {
  font-weight: normal;
  font-size: 2.66667vw;
  line-height: 2.66667vw;
}

#discover main .gift {
  width: 100%;
  height: 29.33333vw;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

#discover main .gift .giftcon {
  width: 50vw;
  background: url(../img/bag7.png) no-repeat 28.53333vw center;
  background-size: 17.33333vw 17.33333vw;
  padding-left: 5.33333vw;
}

#discover main .gift .giftcon h2 {
  font-weight: 600;
  font-size: 4.8vw;
  line-height: 4.8vw;
  margin: 6.66667vw 0 2.4vw;
}

#discover main .gift .giftcon p {
  font-size: 3.2vw;
  line-height: 3.2vw;
  color: #999;
}

#discover main .gift .left {
  border-right: 1px solid #eee;
  background-image: url(../img/bag6.png);
}

#discover main .bourn {
  height: 88.66667vw;
  width: 100%;
}

#discover main .bourn h2 {
  font-weight: 600;
  padding: 8.66667vw 0 3.33333vw 5.33333vw;
  font-size: 5.33333vw;
  line-height: 5.33333vw;
}

#discover main .bourn .bourncon {
  padding-left: 5.33333vw;
  font-size: 3.2vw;
  line-height: 3.2vw;
  color: #999;
}

#discover main .bourn .bournlist {
  width: 100%;
  margin-top: 5.86667vw;
  overflow: auto;
}

#discover main .bourn .bournlist::-webkit-scrollbar {
  display: none;
}

#discover main .bourn .bournlist .bournlife {
  width: 377.06667vw;
  padding: 0 5.33333vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

#discover main .bourn .bournlist .bournlife .bourncity {
  width: 27.6vw;
}

#discover main .bourn .bournlist .bournlife .bourncity img {
  width: 27.6vw;
  height: 41.6vw;
}

#discover main .groups .grouplist {
  height: 102.66667vw;
}

#discover main .groups .grouplist::before {
  content: '';
  display: block;
  width: 89.06667vw;
  border-top: 1px solid #ddd;
  margin: auto;
}

#discover main .groups .grouplist h2 {
  width: 71.73333vw;
  font-size: 5.33333vw;
  line-height: 5.33333vw;
  padding: 9.33333vw 0 3.2vw 5.33333vw;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#discover main .groups .grouplist .groupcon {
  width: 71.73333vw;
  font-size: 3.2vw;
  line-height: 3.2vw;
  color: #999;
  padding-left: 5.33333vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#discover main .groups .grouplist .groupcity {
  width: 100%;
  height: 73.33333vw;
  margin-top: 6vw;
  overflow: auto;
}

#discover main .groups .grouplist .groupcity::-webkit-scrollbar {
  display: none;
}

#discover main .groups .grouplist .groupcity .grouplift {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2.13333vw 0 5.33333vw;
}

#discover main .groups .grouplist .groupcity .grouplift .grouptown {
  width: 43.06667vw;
  margin-right: 3.2vw;
}

#discover main .groups .grouplist .groupcity .grouplift .grouptown img {
  width: 43.06667vw;
  height: 53.73333vw;
  border-radius: 1.33333vw;
}

#discover main .groups .grouplist .groupcity .grouplift .grouptown h3 {
  width: 38.66667vw;
  padding: 3.2vw 0 3.46667vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#discover main .groups .grouplist .groupcity .grouplift .grouptown .groupprice {
  font-size: 4.8vw;
  line-height: 4.26667vw;
  color: #f02f45;
}

#discover main .groups .grouplist .groupcity .grouplift .grouptown .groupprice::before {
  content: '￥';
  font-size: 3.2vw;
}

#discover main .groups .grouplist .groupcity .grouplift .grouptown .groupprice::after {
  content: '起';
  font-size: 3.2vw;
}

#discover main .tokyo {
  width: 100%;
  height: 200vw;
}

#discover main .tokyo .content {
  width: 89.33333vw;
  height: 185.33333vw;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin: auto;
}

#discover main .tokyo .content h2 {
  padding: 9.33333vw 0 5.6vw;
  font-size: 5.33333vw;
  line-height: 5.33333vw;
  font-weight: 600;
}

#discover main .tokyo .content .tokyogroup {
  width: 100%;
  height: 59.46667vw;
  border-radius: 0.8vw;
  margin-bottom: 5.33333vw;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#discover main .tokyo .content .tokyogroup h3 {
  font-size: 4.8vw;
  color: #fff;
  line-height: 4.8vw;
  margin-bottom: 3.73333vw;
}

#discover main .tokyo .content .tokyogroup p {
  font-size: 3.73333vw;
  line-height: 3.73333vw;
  color: #fff;
}

#discover main .tokyo .content .tokyolist {
  width: 100%;
}

#discover main .tokyo .content .tokyolist .tokyoway {
  height: 22.4vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.66667vw;
}

#discover main .tokyo .content .tokyolist .tokyoway img {
  width: 22.4vw;
  height: 22.4vw;
}

#discover main .tokyo .content .tokyolist .tokyoway .tokyoright {
  width: 61.6vw;
  box-sizing: border-box;
  padding-right: 1.33333vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#discover main .tokyo .content .tokyolist .tokyoway .tokyoright .tokyoleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50.13333vw;
}

#discover main .tokyo .content .tokyolist .tokyoway .tokyoright .tokyoleft .tokyotitle {
  font-size: 3.73333vw;
  line-height: 3.73333vw;
  color: #333;
}

#discover main .tokyo .content .tokyolist .tokyoway .tokyoright .tokyoleft .tokyocon {
  font-size: 3.2vw;
  line-height: 4.26667vw;
  margin-top: 1.86667vw;
  color: #999;
}
