@function vw($px) {
    @return ($px / 375) * 100vw;
}

.page-login,
.set-pass {
    padding: vw(15);

    .login-header {
        .link {
            // display: inline-block;
            width: vw(120);
            height: vw(20);
        }

        .anticon-left {
            font-size: vw(16);
            line-height: vw(20);
            height: vw(20);
            color: #000;
            font-weight: bold;
            vertical-align: top;
        }

        .h1 {
            position: relative;
            padding: vw(20) 0 vw(24);
            font-size: vw(36);
            font-weight: 700;
            line-height: vw(36);
            color: #333;

            &:after {
                content: '';
                position: absolute;
                width: vw(35);
                height: vw(4);
                bottom: 0;
                left: 0;
                background: #224;
            }
        }
    }

    main {
        .set-submit {
            display: inline-block;
            width: vw(130);
            height: vw(45);
            background: #f02f45;
            border-radius: vw(24);
            line-height: vw(45);
            text-align: center;
            color: #fff;
            font-size: vw(16);
            font-weight: bold;
        }

        .login-info,
        .set-info {
            padding: vw(15) 0;

            .text-field {
                position: relative;
                padding-left: vw(10);
                margin-bottom: vw(5);
                border: vw(1) solid #ddd;

                .label {
                    display: block;
                    height: vw(48);
                    box-sizing: border-box;
                    padding: vw(15) vw(10) vw(8);
                }

                .text {
                    position: absolute;
                    z-index: 1;
                    top: vw(16);
                    color: #999;
                    font-size: vw(12);
                    line-height: vw(20);
                }

                .float {
                    top: vw(8);
                    transform: scale(0.75);
                    transition: all 0.45s ease;
                    transform-origin: left;
                }

                .ant-input {
                    border: none;
                    outline-style: none;
                    width: 100%;
                    height: vw(32);
                    padding-left: 0;

                    &:focus {
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }

                .ant-input-suffix {
                    position: absolute;
                    top: 50%;
                    right: vw(8);
                    color: #e0e0e0;
                    height: vw(20);
                    // width: vw(20);


                    .ant-input-clear-icon {
                        font-size: vw(20);
                        line-height: 1;
                    }
                }

                .ant-input-password-icon {
                    display: none;
                }

                .code {
                    margin-right: vw(100);
                }

                .verify-code {
                    position: absolute;
                    top: 50%;
                    right: vw(10);
                    margin-top: vw(-12);
                    border: 1px solid #f02f45;
                    color: #f02f45;
                    font-size: vw(12);
                    text-align: center;
                    box-sizing: border-box;
                    width: vw(90);
                    height: vw(24);
                    line-height: vw(22);
                }

            }
        }

        .tips {
            padding-top: vw(5);
            font-size: vw(14);
            line-height: vw(20);
            color: #999;
        }

        .p2 {
            padding-top: vw(20);

            .login-type {
                display: inline-block;
                color: #f02f45;
                font-size: vw(16);
                line-height: vw(40);
                height: vw(40);
                width: 50%;
                text-align: left;
            }

            .login-btn {
                float: right;
                display: block;
                background: #ddd;
                color: #999;
                font-size: vw(16);
                line-height: vw(40);
                height: vw(40);
                width: vw(84);
                font-weight: bold;
                box-sizing: border-box;
                border-radius: vw(24);
                text-align: center;
            }

            .active {
                color: #fff;
                background: #224;
            }
        }

        .forget {
            padding: vw(20) vw(10) 0;
            text-align: right;
            font-size: vw(14);
            line-height: 1;
            color: #000;
        }

    }
}