@function vw($px) {
    @return ($px / 750) * 100vw;
}

.order_list {
    min-height: 100%;
    background: #F5F5F5;
    font-family: "Helvetica Neue",
        Helvetica;
    padding-bottom: vw(93);
    box-sizing: border-box;


    .order_nav {
        height: vw(172);
        background: #fff;
        padding: vw(69) vw(40) vw(0);
        box-sizing: content-box;

        h2 {
            font-size: vw(62);
            font-weight: normal;
            margin-bottom: vw(33);
            line-height: vw(62);
        }

        .nav_item {
            display: flex;


            // flex-direction: column;
            li {
                flex: 1;
                text-align: center;




                span {
                    display: inline-block;
                    padding: vw(25) 0 vw(18);
                    color: #999999;
                    font-size: vw(27);
                    line-height: vw(27);

                }

            }



            .active>span {
                border-bottom: vw(7) solid #F02F45;
                color: #F02F45;
            }

        }
    }

    .order_item {
        background: #F5F5F5;
        padding: vw(24) vw(40);




        .single_item {
            // height: vw(426);
            background: #fff;
            padding: vw(40) vw(31);
            margin-bottom: vw(27);
            box-sizing: content-box;

            .item_top {



                .first_line {
                    margin-bottom: vw(24);

                    .item_status {
                        float: left;
                        font-size: vw(33);
                        font-weight: 600;
                        color: red;
                        line-height: vw(33);
                    }

                    .item_price {
                        float: right;
                        font-size: vw(33);
                        color: red;
                        line-height: vw(33);
                    }
                }

                .second_line {
                    padding-bottom: vw(32);
                    border-bottom: vw(2) solid #F5F5F5;

                    .order_num {
                        font-size: vw(24);
                        color: #B5B5B5;
                        line-height: vw(24);
                    }

                    .pay_limit {
                        font-size: vw(24);
                        color: #333333;
                        line-height: vw(24);
                    }
                }

            }

            .item_center {
                padding-top: vw(30);

                .item_title {

                    font-size: vw(30);
                    line-height: vw(40);
                    font-weight: bold;
                }

                .item_time {
                    margin-top: vw(24);
                    font-size: vw(25);
                    line-height: vw(38);
                    color: #999999;

                }

                .item_mount {

                    font-size: vw(25);
                    line-height: vw(38);
                    color: #999999;
                    margin-bottom: vw(28)
                }


            }

            .item_footer {


                .cancel_order {
                    display: inline-block;
                    height: vw(66);
                    width: vw(280);
                    border: vw(2) solid #646464;
                    line-height: vw(70);
                    text-align: center;
                    margin-right: vw(34);
                    border-radius: vw(3);
                    font-size: vw(29);
                }

                .to_pay {
                    display: inline-block;
                    height: vw(66);
                    width: vw(284);
                    border: vw(2) solid #F02F45;
                    border-radius: vw(3);
                    line-height: vw(70);
                    text-align: center;
                    background: #F02F45;
                    color: #fff;
                    font-size: vw(29);

                }

                .item_delete {
                    display: none;
                }
            }


            .deletepopup {
                position: fixed;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                z-index: 1001;
                background: rgba(0, 0, 0, 0.3);
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // display: none;




                .delete_mes {
                    position: absolute;
                    background: #fff;
                    padding-top: vw(60);
                    width: vw(557);
                    height: vw(331);
                    box-sizing: border-box;
                    border-radius: vw(12);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2000;
                }

                .delete_title {
                    font-size: vw(34);
                    line-height: vw(34);
                    color: #000000;
                    text-align: center;
                    margin-bottom: vw(17);


                }

                .delete_content {

                    padding: 0 vw(83);
                    line-height: vw(40);
                    font-size: vw(28);
                    color: #8F8F8F;
                    text-align: center;
                    margin-bottom: vw(38);
                }

                .delete_button {
                    border-top: vw(1) solid #EFEFEF;

                    span {
                        display: inline-block;
                        width: 50%;
                        box-sizing: border-box;
                        text-align: center;
                        height: vw(100);
                        line-height: vw(100);


                    }

                    .canceldelete {
                        border-right: vw(1) solid #EFEFEF;

                    }

                    .confirmdelete {
                        color: #F02F45;
                    }
                }


            }
        }

        .single_item_overdue {
            background: #FFFFFF;

            .item_top {

                .first_line {

                    .item_status {
                        color: #999999
                    }

                    .item_price {
                        color: #F79CA7
                    }
                }

                .second_line {
                    .pay_limit {
                        display: none;
                    }
                }
            }

            .item_center {
                .item_title {
                    color: #999999
                }
            }

            .item_footer {
                border-top: vw(2) solid #F5F5F5;

                .cancel_order {
                    display: none;
                }

                .to_pay {
                    display: none;
                }

                .item_delete {
                    height: vw(68);
                    text-align: right;
                    color: #EB7772;
                    line-height: vw(68);
                    display: block;
                    font-size: vw(27);



                }

            }






        }

    }


}