@function vw($px) {
    @return ($px / 750) * 100vw;
}

.order_list {
    height: 100%;
    background: #F5F5F5;
    font-family: "Helvetica Neue",
        Helvetica;


    .order_nav {
        height: vw(172);
        background: #fff;
        padding: vw(69) vw(40) vw(0);
        box-sizing: content-box;

        h2 {
            font-size: vw(62);
            font-weight: normal;
            margin-bottom: vw(33);
            line-height: vw(62);
        }

        .nav_item {
            display: flex;


            // flex-direction: column;
            li {
                flex: 1;
                text-align: center;




                span {
                    display: inline-block;
                    padding: vw(25) 0 vw(18);
                    color: #999999;
                    font-size: vw(27);
                    line-height: vw(27);

                }

            }



            .active>span {
                border-bottom: vw(7) solid #F02F45;
                color: #F02F45;
            }

        }
    }

    .order_item {
        background: #F5F5F5;
        padding: vw(24) vw(40);




        .single_item {
            height: vw(426);
            background: #fff;
            padding: vw(40) vw(31);
            box-sizing: content-box;

            .item_top {



                .first_line {
                    margin-bottom: vw(24);

                    .item_status {
                        float: left;
                        font-size: vw(33);
                        font-weight: 600;
                        color: red;
                        line-height: vw(33);
                    }

                    .item_price {
                        float: right;
                        font-size: vw(33);
                        color: red;
                        line-height: vw(33);
                    }
                }

                .second_line {
                    padding-bottom: vw(32);
                    border-bottom: vw(2) solid #F5F5F5;

                    .order_num {
                        font-size: vw(24);
                        color: #B5B5B5;
                        line-height: vw(24);
                    }

                    .pay_limit {
                        font-size: vw(24);
                        color: #333333;
                        line-height: vw(24);
                    }
                }

            }

            .item_center {
                padding-top: vw(30);

                .item_title {

                    font-size: vw(30);
                    line-height: vw(40);
                    font-weight: bold;
                }

                .item_time {
                    margin-top: vw(24);
                    font-size: vw(25);
                    line-height: vw(38);
                    color: #999999;

                }

                .item_mount {

                    font-size: vw(25);
                    line-height: vw(38);
                    color: #999999;
                    margin-bottom: vw(28)
                }


            }

            .item_footer {
                .cancel_order {
                    display: inline-block;
                    height: vw(66);
                    width: vw(280);
                    border: vw(2) solid #646464;
                    line-height: vw(70);
                    text-align: center;
                    margin-right: vw(34);
                    border-radius: vw(3);
                    font-size: vw(29);
                }

                .to_pay {
                    display: inline-block;
                    height: vw(70);
                    width: vw(284);
                    border-radius: vw(3);
                    line-height: vw(70);
                    text-align: center;
                    background: #F02F45;
                    color: #fff;
                    font-size: vw(29);

                }
            }
        }

    }

    .order_item_overdue {
        background: #FFFFFF;

    }
}