@function vw($px) {
    @return ($px / 750) * 100vw;
}

html,body{
    height: 100%;
}


.person{
    width: 100%;
    background: #f1f1f1;
    .msg{
        // height: vw(400);
        box-sizing: border-box;
        padding: vw(80) vw(40);
        background: #fff;
       .fz36{
           font-size: vw(36);
           font-weight: 800;
           line-height: vw(40);
           margin-bottom: vw(30);
       } 

       .width200{
           width: vw(200);
       }
       .fz18{
           font-size: vw(18);
       }

       .lh30{
           line-height: vw(30);
       }

       .gray{
           color: #989898;
       }

       .black{
           color: #000;
       }

       .mgb{
           margin-bottom: vw(28);
       }

       .disfx{
           display: flex;
           justify-content: flex-start;
           align-items: flex-start;
       }

       .disb{
           display: block;
       }

       .mgr{
            margin-right: vw(10);
       }
    }

    .personMsg{
        padding: vw(40) vw(40) vw(400);
        p{
           font-size: vw(36);
           line-height: vw(36); 
           font-weight: 600;
           margin-bottom: vw(40);
        }
    }

    .buyNow{
        width: 100%;
        height: vw(100);
        box-sizing: border-box;
        border-top: vw(6) solid #dddddd;
        display: flex;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 6;//等下改
        .advisory{
            width: vw(280);
            height: 100%;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{  
                margin-bottom: vw(15);
                &:nth-child(1){
                    font-size: vw(40);
                    line-height: vw(40);
                    color: #c36160;
                    font-weight: 600;
                    &::before{
                        content: "￥";
                    }
                }

                &:nth-child(2){
                    font-size: vw(12);
                    line-height: vw(12);
                    color: #9c9c9c;
                }
            }
        }
        .buy{
            width: vw(614);
            height: vw(94);
            background: #e96a65;
            font-size: vw(32);
            line-height: vw(94);
            text-align: center;
            color: #fff;
            font-weight: 800;
            cursor: pointer;
        }
      }
}